body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4%;
    border: 2px solid black;
}

header{
    border-bottom: 4px dotted black;
}

ul{
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 4%;
    border-bottom: 4px dotted black;
}

#mainmenu>li{
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 40%;
    border-radius: 50%;
    border: 2px solid black;
}

#rubriklänkar>ul>li{
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: auto;
    border: 2px solid black;
}

#artiklar{
    display: flex;
    flex-direction: column;
}

#artikel1, #artikel2{
    padding: 4%;
    border-bottom: 2px solid black;
}

img{
    max-width: 40%;
    height: auto;
}

#artikel1>p, #artikel2>p{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

footer{
    border: 2px solid rgba(0, 0, 0, 0.449); 
}

@media (min-width: 750px){

    #mainmenu{
        display: flex;
        justify-content: space-between;
        gap: 4px; /*Så inte alla länkarna sitter ihop utan separeras.*/
    }

    #layout{
        display: flex;
        gap: 40px;
        padding-bottom: 15px;
    }

    #rubriklänkar{
        flex: 1;
    }
    
    #rubriklänkar>ul{
        border-bottom: 0; /*ville inte ha kvar prickarna från mobilversionen*/
    }

    #artiklar{
        flex: 3; /* ger dom lite mer plats än länkarna, men inte så mycket som det var av default*/
        flex-direction: column;
        gap: 50px;
        border-bottom: 0;
    }

    #artikel1, #artikel2{
        display: flex;
        flex-direction: row;
        align-items: center; 
        /*Tydligen är stretch default, så ändrar till center så inget blir squished*/
        gap: 10px;
        border: 2px solid black;   
    }

    

}