body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 4%;
    border: 2px solid black;
}

header{
    border-bottom: 4px dotted black;
}

ul{
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 4%;
    border-bottom: 4px dotted black;
}

li{
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    width: 40%;
    border-radius: 50%;
    border: 2px solid black;
}

main{
    display: flex;
}

section{
    border: 2px solid black;
    padding: 5%;
}

img{
   max-width: 60%;
   height: auto;
}

section>p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}


footer{
    border: 2px solid rgba(0, 0, 0, 0.449); 
}

@media (min-width: 750px){

    nav>ul{
        display: flex;
        justify-content: space-between;
        gap: 4px; /*Så inte alla länkarna sitter ihop utan separeras.*/
    }

    main>section{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    #bild{
        max-width: 40%;
        height: auto;
    }
}